# DATA CLEANING IN PANDAS

# QUESTION: Use Pandas to clean and preprocess a messy dataset, documenting the steps taken during during the cleaning process.

## 1. Importing pandas library

In [1]:
# importing pandas library
import pandas as pd

## 2. Importing dataset from excel

In [2]:
# importing dataset from excel
df = pd.read_excel (r"C:\Users\USER\Documents\Data set 3mtt.xlsx")

## 3. Displaying dataset

In [3]:
# Displaying dataset
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Address,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,080-56473399,Female,25,NaN,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07-059212377,F,23,NaN,0_level,Katsina,Beginner
2,FE/23/14442555,Aisha,Bashir,07-059212377,F,23,NaN,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,NaN,Male,28,NaN,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,NaN,Male,26,NaN,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,...Mustapha,091-23473322,Female,27,NaN,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08-027471560,M,32,NaN,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,NaN,F,25,NaN,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,0704-4321111,Male,29,NaN,0_level,Plateau,Intermediate
9,FE/23/15663456,Mansur,Murtala,0704-4321111,Male,29,NaN,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09-144555526,Female,28,NaN,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,081-40469709,F,25,NaN,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,NaN,F,23,NaN,NaN,Kaduna,Beginner
13,NaN,Rahma,Mustapha,NaN,Female,28,NaN,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,070338-72211,M,26,NaN,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088-443322,Male,27,NaN,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,0803434-2212,Male,32,NaN,NaN,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,0905533-6633,M,25,NaN,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,_Yau,081536-62277,M,29,NaN,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,091-77342266,Female,28,NaN,NaN,Jigawa/,Intermediate
20,FE/23/13341169,Uthman,Ahmad,090-55212101,Male,25,NaN,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,070-543-662-55,Male,23,NaN,NaN,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,0703-7466106,M,28,NaN,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,NaN,F,26,NaN,NaN,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,NaN,Female,27,NaN,M.Sc.,Kano,Beginner

## 4. Dropping duplicates in dataset

In [4]:
# dropping duplicates 
df = df.drop_duplicates()
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Address,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,080-56473399,Female,25,NaN,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07-059212377,F,23,NaN,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,NaN,Male,28,NaN,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,NaN,Male,26,NaN,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,...Mustapha,091-23473322,Female,27,NaN,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08-027471560,M,32,NaN,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,NaN,F,25,NaN,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,0704-4321111,Male,29,NaN,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09-144555526,Female,28,NaN,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,081-40469709,F,25,NaN,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,NaN,F,23,NaN,NaN,Kaduna,Beginner
13,NaN,Rahma,Mustapha,NaN,Female,28,NaN,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,070338-72211,M,26,NaN,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088-443322,Male,27,NaN,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,0803434-2212,Male,32,NaN,NaN,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,0905533-6633,M,25,NaN,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,_Yau,081536-62277,M,29,NaN,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,091-77342266,Female,28,NaN,NaN,Jigawa/,Intermediate
20,FE/23/13341169,Uthman,Ahmad,090-55212101,Male,25,NaN,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,070-543-662-55,Male,23,NaN,NaN,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,0703-7466106,M,28,NaN,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,NaN,F,26,NaN,NaN,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,NaN,Female,27,NaN,M.Sc.,Kano,Beginner

## 5. Dropping not useful columns

In [5]:
# dropping columns
df = df.drop(columns = "Address")
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,080-56473399,Female,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07-059212377,F,23,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,NaN,Male,28,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,NaN,Male,26,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,...Mustapha,091-23473322,Female,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08-027471560,M,32,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,NaN,F,25,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,0704-4321111,Male,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09-144555526,Female,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,081-40469709,F,25,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,NaN,F,23,NaN,Kaduna,Beginner
13,NaN,Rahma,Mustapha,NaN,Female,28,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,070338-72211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088-443322,Male,27,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,0803434-2212,Male,32,NaN,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,0905533-6633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,_Yau,081536-62277,M,29,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,091-77342266,Female,28,NaN,Jigawa/,Intermediate
20,FE/23/13341169,Uthman,Ahmad,090-55212101,Male,25,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,070-543-662-55,Male,23,NaN,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,0703-7466106,M,28,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,NaN,F,26,NaN,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,NaN,Female,27,M.Sc.,Kano,Beginner

## 6. Stripping

In [6]:
# stripping
df["Surname"] = df["Surname"].str.strip("123._")
df["State_of_Residence"] = df["State_of_Residence"].str.strip("/")
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,080-56473399,Female,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07-059212377,F,23,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,NaN,Male,28,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,NaN,Male,26,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,Mustapha,091-23473322,Female,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08-027471560,M,32,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,NaN,F,25,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,0704-4321111,Male,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09-144555526,Female,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,081-40469709,F,25,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,NaN,F,23,NaN,Kaduna,Beginner
13,NaN,Rahma,Mustapha,NaN,Female,28,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,070338-72211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088-443322,Male,27,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,0803434-2212,Male,32,NaN,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,0905533-6633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,Yau,081536-62277,M,29,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,091-77342266,Female,28,NaN,Jigawa,Intermediate
20,FE/23/13341169,Uthman,Ahmad,090-55212101,Male,25,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,070-543-662-55,Male,23,NaN,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,0703-7466106,M,28,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,NaN,F,26,NaN,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,NaN,Female,27,M.Sc.,Kano,Beginner

## 7.Cleaning and Standardizing phone numbers

In [7]:
# cleaning and standardizing phone numbers
df["Phone_number"] = df["Phone_number"].str.replace('-', '')
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,Female,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,NaN,Male,28,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,NaN,Male,26,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,Mustapha,09123473322,Female,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,NaN,F,25,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,07044321111,Male,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09144555526,Female,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,NaN,F,23,NaN,Kaduna,Beginner
13,NaN,Rahma,Mustapha,NaN,Female,28,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088443322,Male,27,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,08034342212,Male,32,NaN,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,09177342266,Female,28,NaN,Jigawa,Intermediate
20,FE/23/13341169,Uthman,Ahmad,09055212101,Male,25,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,07054366255,Male,23,NaN,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,NaN,F,26,NaN,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,NaN,Female,27,M.Sc.,Kano,Beginner

## 8. Filling Null Values

In [8]:
# filling Null Values
df = df.fillna('')
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,Female,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,,Male,28,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,,Male,26,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,Mustapha,09123473322,Female,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,,F,25,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,07044321111,Male,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09144555526,Female,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,,F,23,,Kaduna,Beginner
13,,Rahma,Mustapha,,Female,28,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088443322,Male,27,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,08034342212,Male,32,,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,09177342266,Female,28,,Jigawa,Intermediate
20,FE/23/13341169,Uthman,Ahmad,09055212101,Male,25,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,07054366255,Male,23,,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,,F,26,,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,,Female,27,M.Sc.,Kano,Beginner

## 9. Inconsistent values

In [9]:
# Keeping the columns consistent
df["Gender"] = df["Gender"].str.replace('Female', 'F')
df["Gender"] = df["Gender"].str.replace('Male', 'M')
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,F,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
3,FE/23/13452341,Khalid,Usman,,M,28,B.Sc.,Jigawa,Intermediate
4,FE/23/56523760,Umar,Sani,,M,26,ND,Jigawa,Beginner
5,FE/23/14432556,Maryam,Mustapha,09123473322,F,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
7,FE/23/23456123,Zainab,Mukhtar,,F,25,B.Sc.,Kaduna,Intermediate
8,FE/23/15663456,Mansur,Murtala,07044321111,M,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09144555526,F,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
12,FE/23/54279987,Faith,Ogoche,,F,23,,Kaduna,Beginner
13,,Rahma,Mustapha,,F,28,M.Sc.,Jigawa,Beginner
14,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088443322,M,27,B.Sc.,Borno,Intermediate
16,FE/23/95333388,Umar,Madaki,08034342212,M,32,,Sokoto,Beginner
17,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
19,FE/23/12435211,Shamsiya,Haruna,09177342266,F,28,,Jigawa,Intermediate
20,FE/23/13341169,Uthman,Ahmad,09055212101,M,25,0_level,Kano,Intermediate
21,FE/23/14654966,Ahmad,Muhammad,07054366255,M,23,,Gombe,Intermediate
22,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner
23,FE/23/16648655,Asmau,Suleiman,,F,26,,Sokoto,Beginner
24,FE/23/17553387,Safiyya,Muazu,,F,27,M.Sc.,Kano,Beginner

## 10. Filtering down Rows of the dataset

In [10]:
# dropping null values

for x in df.index:
    if df.loc[x, "Phone_number"] == '':
        df.drop(x, inplace=True)
        
for x in df.index:
    if df.loc[x, "Education_level"] == '':
        df.drop(x, inplace=True)        
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,F,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
5,FE/23/14432556,Maryam,Mustapha,09123473322,F,27,M.Sc.,Kano,Beginner
6,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
8,FE/23/15663456,Mansur,Murtala,07044321111,M,29,0_level,Plateau,Intermediate
10,FE/23/33452611,Mariya,Sani,09144555526,F,28,HND,Kaduna,Beginner
11,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
14,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
15,FE/23/86779888,Peter,Bitrus,07088443322,M,27,B.Sc.,Borno,Intermediate
17,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
18,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
20,FE/23/13341169,Uthman,Ahmad,09055212101,M,25,0_level,Kano,Intermediate
22,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner

## 11. Resetting Index

In [11]:
df.reset_index()

,index,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,0,FE/23/34641235,Amina,Shehu,08056473399,F,25,B.Sc.,Kano,Beginner
1,1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
2,5,FE/23/14432556,Maryam,Mustapha,09123473322,F,27,M.Sc.,Kano,Beginner
3,6,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
4,8,FE/23/15663456,Mansur,Murtala,07044321111,M,29,0_level,Plateau,Intermediate
5,10,FE/23/33452611,Mariya,Sani,09144555526,F,28,HND,Kaduna,Beginner
6,11,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
7,14,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
8,15,FE/23/86779888,Peter,Bitrus,07088443322,M,27,B.Sc.,Borno,Intermediate
9,17,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
10,18,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
11,20,FE/23/13341169,Uthman,Ahmad,09055212101,M,25,0_level,Kano,Intermediate
12,22,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner

In [15]:
df = df.reset_index(drop=True)
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,F,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
2,FE/23/14432556,Maryam,Mustapha,09123473322,F,27,M.Sc.,Kano,Beginner
3,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
4,FE/23/15663456,Mansur,Murtala,07044321111,M,29,0_level,Plateau,Intermediate
5,FE/23/33452611,Mariya,Sani,09144555526,F,28,HND,Kaduna,Beginner
6,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
7,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
8,FE/23/86779888,Peter,Bitrus,07088443322,M,27,B.Sc.,Borno,Intermediate
9,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
10,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
11,FE/23/13341169,Uthman,Ahmad,09055212101,M,25,0_level,Kano,Intermediate
12,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner

## 12. Displaying Final Result of Dataset

In [16]:
# displaying cleaned dataset
df

,Fellow ID,First_name,Surname,Phone_number,Gender,Age,Education_level,State_of_Residence,Skill_level
0,FE/23/34641235,Amina,Shehu,08056473399,F,25,B.Sc.,Kano,Beginner
1,FE/23/14442555,Aisha,Bashir,07059212377,F,23,0_level,Katsina,Beginner
2,FE/23/14432556,Maryam,Mustapha,09123473322,F,27,M.Sc.,Kano,Beginner
3,FE/23/86586533,Abubakar,Aminu,08027471560,M,32,M.Sc.,Kano,Intermediate
4,FE/23/15663456,Mansur,Murtala,07044321111,M,29,0_level,Plateau,Intermediate
5,FE/23/33452611,Mariya,Sani,09144555526,F,28,HND,Kaduna,Beginner
6,FE/23/46335444,Halima,Imam,08140469709,F,25,ND,Bauchi,Beginner
7,FE/23/15554323,Aliyu,Alhassan,07033872211,M,26,ND,Katsina,Beginner
8,FE/23/86779888,Peter,Bitrus,07088443322,M,27,B.Sc.,Borno,Intermediate
9,FE/23/10553312,Mukhtar,Munir,09055336633,M,25,HND,FCT,Intermediate
10,FE/23/11543364,Aminu,Yau,08153662277,M,29,M.Sc.,Taraba,Intermediate
11,FE/23/13341169,Uthman,Ahmad,09055212101,M,25,0_level,Kano,Intermediate
12,FE/23/15453365,Kabir,Shehu,07037466106,M,28,HND,Kebbi,Beginner